[submodule "minio/minio"]
	path = minio/minio
	url = https://github.com/peterpuhov-github/minio.git
[submodule "spark"]
	path = spark/spark
	url = https://github.com/apache/spark.git
[submodule "mc/mc"]
	path = mc/mc
	url = https://github.com/peterpuhov-github/mc.git
[submodule "spark-select"]
	path = spark-select/spark-select
	url = https://github.com/rf972/spark-select.git
