[submodule "spark"]
	path = spark/spark
	url = https://github.com/apache/spark.git
	branch = tags/v3.2.0
[submodule "benchmark/tpch/tpch-spark"]
	path = benchmark/tpch/tpch-spark
	url = https://github.com/open-infrastructure-labs/caerus-tpch-spark.git
	branch = master
[submodule "pushdown-datasource"]
	path = pushdown-datasource/pushdown-datasource
	url = https://github.com/open-infrastructure-labs/caerus-pushdown-datasource.git
	branch = master
[submodule "dikeHDFS"]
	path = dikeHDFS
	url = https://github.com/open-infrastructure-labs/caerus-dikeHDFS.git
	branch = main
